*{

}

.container
{
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    padding: 2rem;
    margin: 2rem;
    align-items: center;
    text-align: center;
}